<form>
    <select>
        <option selected>Select a co-worker</option>
        {{#each users}}
            <option value="{{this.identity}}">{{this.name}}</option>
        {{/each}}
    </select>
    <textarea>

    </textarea>
    <input type="submit"/>
</form>