<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="/static/js/editor.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>

        <div ng-app="Home" ng-controller="HomeController">
            <div class="row">

        <div class="col-md-4" ng-repeat="contest in Contests">
            <div class="panel panel-default">
                <div class="panel-heading">People</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item well well-lg">
                            <form>
                                <fieldset ng-attr-disabled="contest.Pending.status.processing && true : false">
                                    <div class="form-group">
                                        <label>Recognition</label>
                                        <select ng-model="contest.Pending.edited.idAbout" class="form-control">
                                            <option ng-repeat="user in Users" value="{[{user.id}]}">{[{user.name}]}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Story</label>
                                        <textarea type="text" class="form-control"/ ng-model="contest.Pending.edited.story"></textarea>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary" ng-click="contest.Create(contest.Pending);">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Create</button>
                                </fieldset>
                            </form>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="story in contest.All">
                            <div ng-hide="user.status.editing">
                                <button type="submit" class="btn btn-primary" ng-click="story.read(); story.status.editing = true;">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Settings</button>
                                <div>
                                    <strong ng-bind="story.original.idAuthor"></strong>
                                    <span>gives mad props to:</span>
                                    <strong ng-bind="story.original.idAuthor"></strong>
                                </div>
                                <strong>Votes:</strong><span ng-bind="story.original.votes"></span>
                                <div ng-bind="story.original.story"></div>
                            </div>

                            <form ng-show="user.status.editing">
                                <div class="well well-lg">
                                    <fieldset ng-attr-disabled="user.status.processing && true : false">
                                        <div class="form-group">
                                            <input type="text" class="form-control"/ ng-model="user.edited.id" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label>Story</label>
                                            <textarea type="text" class="form-control"/ ng-model="story.edited.story"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary" ng-click="user.status.editing = false;">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            Cancel</button>
                                        <button type="submit" class="btn btn-warning" ng-click="Contest.Update(user);">
                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                            Save Changes</button>
                                        <button type="submit" class="btn btn-danger"" ng-click="Contest.Delete(user);">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            Delete</button>
                                    </fieldset>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            </div>
        </div>

<script>

var scope;

var App = angular.module("Home", ["Editor"]);
App.config(["$interpolateProvider", function(inInterpolate){
    inInterpolate.startSymbol('{[{').endSymbol('}]}');
}]);

App.controller("HomeController", ["$scope", "$http", "Editor", function(inScope, inHTTP, inEditor){

    inScope.Model = {};

    inScope.Contests = [];
    inScope.Users = [];
    inScope.ID = undefined;

    scope = inScope.Contests;

    inHTTP({method:"GET", url:'/contests'})
    .then(function(inSuccess){

        inScope.Users = inSuccess.data.users;
        inScope.ID = inSuccess.data.id;

        var editor;
        var story, contest;
        var formattedStories;
        var i, j;

        for(i=0; i<inSuccess.data.contests.length; i++){
            contest = inSuccess.data.contests[i];
            editor = inEditor.Create({
                Model:{
                    id:0,
                    idAbout:0,
                    idAuthor:inSuccess.data.id,
                    idContest:contest.contest.id,
                    story:"",
                    votes:0
                },
                Endpoint:'/user/story'
            });

            formattedStories = [];
            for(j=0; j<contest.stories.length; j++){
                story = contest.stories[j];
                formattedStories.push({
                    id:story.story.id,
                    idAbout:story.about.id,
                    idAuthor:story.author.id,
                    idContest:contest.contest.id,
                    story:story.story.story,
                    votes:story.votes
                });
            }

            editor.Seed(formattedStories);
            inScope.Contests.push(editor);
        }

        console.log(inScope.Contests);

    }, function(inFailure){
        console.log(inFailure);
    });
}]);
</script>

    </body>
</html>